<div class="container-fluid container-div">
    <!--Header for the page goes here-->
        <nav class="navbar navbar-expand-lg navbarDiv">
        </nav>

        <div class="container">
                <div class="row pageTitleRow">
                        <!--Title of the page goes here-->
                        <div class="col-md-12 PageTitle">Photo Gallery</div>
                </div>
               
                <div class="row">
                        <div class="col-md-10" style="margin:auto">
                                <!--List of images module loads here-->
                                <app-image-list></app-image-list> 
                        </div>
                </div>
            
        </div>

        <!--Footer for page goes here-->
        <div class="row">
                <footer class="col-md-12 page-footer  navbarDiv"></footer>

        </div>


</div>


