
/*Global style sheet*/
html, body { height: 100%;position:relative; min-height:100%; }
body { 
  margin: 0; 
  padding:0; 
  font-family: Arial, "Helvetica Neue", sans-serif;
  height:100%; 
  overflow:hidden;
  background-image:url("/assets/images/backgroundImage.jpg");
}

.container{
  min-height:100%;
  overflow:hidden;
}

.container-div{
  padding:0;
  overflow-x:hidden;
  height:100vh;
}


.navbarDiv{
  background-color: #495057;
  height:44px;
  color:white;
  width:100%;
}

.home-icon{
  width:38px;
  height:35px;
  float:right;
  cursor: pointer;
}

.pageTitleRow{
  height:100px;
}

.PageTitle{
    font-size: 34px;
    margin: auto;
    font-weight: bold;
    color: black;
    text-align: center;

}

.IconsDiv{
  width: 215px;
  margin: auto;
}

.icon-view-div{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 13px;
}

.icon-view-div:hover{
  background-color: #999999
}

.addImage{
  cursor: pointer;
    width: 96px;
    height: 76px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-group{
  margin: auto;
  cursor: pointer;
}

.imageIcon{
  width: 160px;
  height: 95px;
}

.list-group-item{
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  margin:auto
}

.list-group-item-action:focus, .list-group-item-action:hover{
  background-color:#495057a8 !important;
  color:white!important;
}


.list-group-item.addImage{
  width:50%;
}


div.gallery {
  float: left;
  width: 50%;
  height:160px;
  position: relative;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.desc {
  padding: 15px;
  text-align: center;
}



.imageDiv {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.gallery:hover .image {
  opacity: 0.3;
}

.gallery:hover .middle {
  opacity: 1;
}

.gallery-addImage{
  background-color:#495057;
}

.viewImageText {
  background-color: #495057;
  color: white;
  font-size: 14px;
  padding: 13px 26px;
  font-weight: bold;
  cursor: pointer;
}


.btn-success{
  background-color:#495057 !important;
  color:white !important;
  margin:5px;
}

.imageDialog{
  max-width: 100vw;
  max-height: 100vh;
  width:100%;
  height:100%;
  display:block;
}

.imageDisplayDialog{
  width:345px;
  height:270px;
}

.displayImageDiv{
  display:block;
  margin:30px auto;
}

.editPageBtn{
  width: 200px;
    font-size: 19px;
    cursor: pointer;
    margin:0px 30px;
}

.editPageBtn:hover{
  background-color:#e3e3e3;
  color:black;
}

.positionDiv{
 display:inline-flex;
 margin:5px 30px;
}



.xvalLabel{
  font-size:23px;
  font-weight:bold;
  margin:10px;
}

.xvalDiv{
  width: 68px;
    height: 27px;
    border: 1px solid black;
    margin:5px;
    font-size:15px;
    text-align:center;
    padding:3px;
}

.xvalLabel {
  font-size:23px;
  font-weight:bold;
  margin:10px;
}

.fnameLabel {
  font-size:23px;
  font-weight:bold;
  margin:10px;
} 
.fnameDiv{
  width: 200px;
    height: 27px;
    border: 1px solid black;
    margin:5px;
    font-size:15px;
    text-align:center;
    padding:3px;
}

.InputDiv{
  margin:10px;
}

footer{
  top:50px;
  bottom:0;
  position:fixed;
}


@media(min-width: 760px){
 
  .imageDisplayDialog{
    width:450px;
    height:330px;
  }

  .editPageBtn{
    width: 160px;
      margin:30px 30px;
  }
  
  .positionDiv{
   margin:8px 30px;
  }
}

@media(min-width:990px){
 
  div.gallery {
    height:165px;
    width:33.3%;
  }

    .imageDisplayDialog{
      width:550px;
      height:360px;
    }

    .canvasDiv{
      height:460px;
    }
}

@media(min-width:1200px){


.container-div{
  padding:0;
  overflow-x:hidden;
  height:100vh;
}


.list-group{
  width: 500px;
}

.list-group-item{
  font-size: 26px;
  width:100%;
}


.list-group-item.addImage{
  width:70%;
}

.IconsDiv{
  float:right;
}



div.gallery {
  width: 25%;
  height:180px;
}




.viewImageText {
  font-size: 16px;
  padding: 16px 32px;
}



.imageDisplayDialog{
  width:700px;
  height:500px;
}

.displayImageDiv{
  width:800px;
  margin:30px auto;
}

.editPageBtn{
  width: 200px;
    font-size: 19px;
    margin:30px 30px;
}



.positionDiv{
 margin:10px 30px;
}


}

@media(min-width:1800px){

}




